<ng-container *ngIf="bookings$ | async as bookings; else loading">
  <ng-container *ngIf="bookings.length > 0; else noBookings">
    <div class="container-of-bookings">
      <b class="text-in-bookings">My bookings</b>
      <app-my-booking *ngFor="let booking of bookings" [booking]="booking">
      </app-my-booking>
    </div>
    <div class="ai-assistant">
      <b class="text-in-bookings">AI assistant</b>
      <div class="assistant-response" *ngIf="assistantResponse">
        <span class="user-question">{{ userQuestion }}</span>
        <span class="response">{{ assistantResponse }}</span>
      </div>
      <div class="example-questions">
        <span class="text-example-questions">Example questions</span>
        <div class="questions">
          <button
            class="question"
            (click)="onQuestionClick('How many bookings do I have?')"
          >
            How many bookings do I have?
          </button>
          <button
            class="question"
            (click)="onQuestionClick('What do I have booked for next week?')"
          >
            What do I have booked for next week?
          </button>
          <button
            class="question"
            (click)="onQuestionClick('Do I have anything on May 12?')"
          >
            Do I have anything on May 12?
          </button>
        </div>
      </div>
      <div class="input-wrapper">
        <input
          class="ask"
          [(ngModel)]="userQuestion"
          (keydown.enter)="onSubmit()"
          placeholder="Ask anything..."
        />
        <mat-icon
          class="send-icon"
          svgIcon="send"
          (click)="onSubmit()"
        ></mat-icon>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #loading>
  <div class="loading-container">
    <span class="loading-text">Loading your bookings...</span>
  </div>
</ng-template>
<ng-template #noBookings>
  <div class="no-bookings">
    <b class="text-in-bookings">My bookings</b>
    <div class="no-booking-container">
      <span class="dandruff">🔍</span>
      <div class="text-container">
        <span class="main-text">You don’t have any bookings yet</span>
        <span class="descr-text">Start by choosing a coworking space</span>
      </div>
      <button class="select-workspace" (click)="navigateToWorkspaces()">
        Select a coworking
      </button>
    </div>
  </div>
</ng-template>
