.container-of-workspaces {
  padding-inline: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-in-workspaces {
  font-size: 40px;
  margin: 0;
  font-weight: 700;
  color: #2d2d2d;
  line-height: 120%;
  padding: 40px 0 20px 0;
}
